<div class="jz-checkbox-editor jz-editor">
  <div class="jz-checkbox-editor-input">
    <input
      #InputElement
      class="jz-editor-input"
      [id]="name || label"
      [name]="name || label"
      [disabled]="disabled"
      type="checkbox"
      [(ngModel)]="value" />

    <jz-label *ngIf="label" [text]="label"></jz-label>
  </div>

  <jz-validator
    [value]="value"
    [rules]="validationRules"
    (onReady)="onValidatorReady($event)"
    (onValidate)="onValidate($event)">
  </jz-validator>
</div>
