<div class="jz-select-editor jz-editor">
  <jz-label *ngIf="label" [text]="label" [required]="required"></jz-label>

  <div #ContainerElement class="jz-select-editor-container">
    <div #InputElement class="jz-select-editor-selected jz-editor-input">
      <span class="jz-select-editor-selected-text" (click)="onToggleDropdown()">
        {{ getValueText() }}
      </span>

      <div class="jz-select-editor-buttons">
        <span *ngIf="showClearButton" class="jz-select-editor-icon jz-clear-icon material-icons" (click)="reset()">
          close
        </span>
        <span class="jz-select-editor-icon jz-dropdown-icon material-icons" (click)="onToggleDropdown()">
          expand_more
        </span>
      </div>
    </div>

    <div *ngIf="listAlreadyOpened" class="jz-select-editor-wrapper">
      <ng-container *ngFor="let option of dataSource">
        <div class="jz-select-editor-option {{ isSelected(option) ? 'selected' : '' }}" (click)="onSelectItem(option)">
          <span class="jz-select-editor-option-text">{{ getValueText(option) }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <jz-validator
    [value]="value"
    [rules]="validationRules"
    (onReady)="onValidatorReady($event)"
    (onValidate)="onValidate($event)">
  </jz-validator>
</div>
