//Defaults
$error-color: #d50e0e;
$icon-color: #a7a7a7;

// Editores
$label-color: #464646;
$editor-text-color: #464646;
$editor-height: 38px;
$select-option-hover: #f3f3f3;
$select-option-selected: #d9d9d9;
