/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: 'Roboto', 'RobotoFallback', 'Noto Kufi Arabic', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}
