.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 100%;
  }
}
