.jz-checkbox-editor {
  .jz-checkbox-editor-input {
    align-items: center;
    color: $editor-text-color;
    display: flex;
    font-size: 14px;
    height: $editor-height;
    padding: 10px;
  }
}
