jz-form {
  display: contents;
}

.jz-form {
  display: flex;
  flex-direction: column;

  .jz-form-row {
    display: grid;
    gap: 20px;
    padding-bottom: 10px;

    .jz-select-editor {
      min-width: unset;
    }

    .jz-checkbox-editor-input {
      // altura label
      margin-top: 22px;
    }
  }
}
