.jz-select-editor {
  min-width: 150px;

  .jz-select-editor-container {
    position: relative;

    &.opened .jz-select-editor-wrapper {
      display: block;
    }
  }

  .jz-select-editor-selected {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: $editor-height;

    .jz-select-editor-selected-text {
      width: 100%;
    }
  }

  .jz-select-editor-icon {
    color: $icon-color;
    margin-right: -5px;
    margin-left: 8px;

    &.jz-dropdown-icon {
      font-size: 20px;
    }

    &.jz-clear-icon {
      color: #fff;
      background-color: #cfcfcf;
      border-radius: 50%;
      font-size: 16px;

      &:hover {
        color: $error-color;
      }
    }
  }

  .jz-select-editor-wrapper {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: $editor-height;
    width: 100%;

    .jz-select-editor-option {
      cursor: pointer;
      font-size: 14px;
      padding: 10px;

      &:hover {
        background-color: $select-option-hover;
      }

      &.selected {
        background-color: $select-option-selected;
      }
    }
  }
}
